:root{
    --bg-color: #0f172a;
    --text-color:#cbd5e1;
    --accent-color:#818cf8;
    --card-bg: #1e293b;
    --btn-bg: #6366f1;
    --btn-text: #ffffff;
    --border-color: #334155;
    --subtle-text: #94a3b8;
}

.light-theme{
    --bg-color: #f1f5f9;
    --text-color: #334155;
    --accent-color: #6366f1;
    --card-bg: #ffffff;
    --border-color: #e2e8f0;
    --subtle-text: #64748b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6%;
    background-color: var(--card-bg);
    box-shadow: 0 2px 4px rgb(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.logo{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--accent-color);
    text-decoration: none;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.nav-links a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.nav-links a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

.nav-links a:hover{
    color: var(--accent-color);
}

.nav-links a:hover::after{
    width: 100%;
}

.theme-toggle{
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 9px;
    padding: 0.5px;
    cursor: pointer;
    font-size: 1.6rem;
}
.theme-toggle:hover{
    background: var(--accent-color);
    color: var(--btn-text);
    border-color: var(--accent-color);
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 100vh;
    gap: 2rem;
}
.hero-text{
    max-width: 50%;
}

.hero-text h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.hero-text p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: var(--subtle-text);
}

.hero-image img{
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}

.hero-image{
    max-width: 33%;
}

.typed-text{
    color: var(--accent-color);
    font-weight: bolder;
}

.social-links{
    margin-top: 2rem;
}

.social-links a{
    margin: 0 1rem;
    transition: transform 0.3s ease;
}

.social-links a:hover{
    transform: scale(1.2);
}

.btn-primary{
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--accent);
    color: var(--btn-text);
    border: none;
    border-radius:8px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover{
    background-color: #282bee;
}

.recent-works,
.services,
.testimonials{
    padding: 5rem 5%;
    text-align: center;
}

h2{
    font-size: 3rem;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: 3rem;
    color: var(--text-color);
    text-decoration: underline;
}

.work-grid{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    gap: 2rem;
}

.work-card{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.work-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: tranform 0.3s ease;
}

.work-card:hover img{
    transform: scale(1.1);
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgb(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.work-card:hover{
    opacity: 1;
}

.sevice-card{
    background: rgb(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius: 13px;
    padding: 2rem;
    text-align: center;
    transition: transform 0.4s ease;
    border: 1px solid rgba(244,255,255,0.2);
    box-shadow: 0.8px 32px rgb;
}

.sevice-icon{
    font-size: 3rem;
    color: var(--accent-color);
    margin-bottom: 1.5rem;
}

.sevice-card h3{
    margin-bottom: 1rem;
    color: var(--text-color);
    font-size: 1.5rem;
}

.sevice-card